<!DOCTYPE html>
<html lang="en">
<head>
   <meta charset="UTF-8">
   <link rel="stylesheet" href="{{ url_for('static', filename='index.css') }}">

   <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <title>index</title>
</head>
<body>
   <div class="title">
      <img src="../static/logo.png" class="logo"/>
      <h1>小說推薦系統</h1>

      <form method="GET" action="{{ url_for('index') }}" style="display: inline;">
         <input type="text" name="q" class="search" placeholder="Search" value="{{ request.args.get('q', '') }}" />
      </form>
      
      <div class="register_login">
         {% if username %}
         <a href="{{ url_for('profile') }}" class="login">{{ username }}</a>
         {% else %}
         <a href="{{ url_for('register') }}" class="register">註冊</a>
         <a href="{{ url_for('login') }}" class="login">登入</a>
         {% endif %}
      </div>
      
   </div>
   
   <div class="cat">
      <button class="category" onclick="location.href='/?category='">全部</button>
      {% for c in categories %}
         <button class="category" onclick="location.href='/?category={{ c }}'">{{ c }}</button>
      {% endfor %}
   </div>
   
   <div class="subtitle">
         {% if keyword %}
            <p class="category-icon"> ▎</p> 
            <p>目前顯示之搜尋：{{ keyword }}</p>
         {% elif author %}
            <p class="category-icon"> ▎</p> 
            <p>目前顯示之作者：{{ author }}</p>
         {% elif category %}
            <p class="category-icon"> ▎</p> 
            <p>目前顯示之分類：{{ category }}</p>
         {% elif publisher %}
            <p class="category-icon"> ▎</p> 
            <p>目前顯示之出版社：{{ publisher }}</p>
         {% elif state %}
            <p class="category-icon"> ▎</p> 
            <p>目前顯示之狀態：{{ state }}</p>
         {% endif %}
   </div>
   
   

   {% for n in novel %}
      <div class="book">
         {# 書封顏色取決於分類 #}
         <div class="book-cover {{ n.Category }}">
            {{ n.Title }}
         </div>
         <div class="book-info">
            <h2>{{ n.Title }}</h2>
            <a href="{{ url_for('index', author=n.AuthorName) }}" class="AuthorName-icon">{{ n.AuthorName }}</a>
            <div class="information">
               <a href='/?category={{ n.Category }}' class="Category-icon">{{ n.Category }}</a>
               <a href="{{ url_for('index', state=n.State) }}" class="State-icon">{{ n.State }}</a>
               
               <div class="readmore_addlove">
                  <a href="{{ url_for('novel') }}?nIndex={{ n.nIndex }}" class="readmore">詳情</a>
                  {% if username %}
                     {% if n.nIndex in is_loved %}
                     <a href="{{ url_for('addlove', nIndex=n.nIndex) }}" class="addlove">❤️收藏</a>
                     {% else %} 
                     <a href="{{ url_for('addlove', nIndex=n.nIndex) }}" class="addlove">🤍收藏</a>
                     {% endif %}
                  {% else %}      
                  <a href="{{ url_for('login') }}" class="addlove">🤍收藏</a>
                  {% endif %}
               </div>
            </div>
         </div>
      </div>
   {% endfor %}


  

</body>
</html>