<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="{{ url_for('static', filename='login.css') }}">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>login</title>
</head>
<body>
    <div class="title">
        <h1>登入</h1>
    </div>
    <div class="input">
        <form method="POST" action="/do_login">

            <label>帳號：</label>
            <input type="text" name="username">

            <label>密碼：</label>
            <input type="password" name="password">

            <br>
            <button type="submit">登入</button>

        </form>
    </div>
    
    <div class="move">
        <br>
        <p>尚未有帳號，<a href="/register">點我註冊</a></p>
    </div>

</body>
</html>