<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="{{ url_for('static', filename='novel.css') }}">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>novel</title>
</head>
<body>
    <div class="title">
      <img src="../static/logo.png" class="logo"/>
      <h1>小說推薦系統</h1>

      <div class="register_login">
        {% if username %}
        <a href="{{ url_for('index') }}" class="register">BACK</a>
        <a href="{{ url_for('profile') }}" class="login">{{ username }}</a>
        {% else %}
        <a href="{{ url_for('index') }}" class="register">返回</a>
        <a href="{{ url_for('login') }}" class="login">登入</a>
        {% endif %}
      </div>
      
    </div>
    <div class="onenovel">

        <div class="book">
            <div class="book-cover {{ novel.Category }}">
                {{ novel.Title }}
            </div>
        
            <div class="book-info">
                <h2 class="noveltitle">{{ novel.Title }}</h2>
                <a href="{{ url_for('index', author=novel.AuthorName) }}" class="AuthorName-icon">{{ novel.AuthorName }}</a>
                <a class="vertical-icon"> | </a>
                <a href="{{ url_for('index', publisher=novel.PublishName) }}" class="Publish-icon">{{ novel.PublishName }} </a>
                
                <div class="information">
                    <p class="Category-icon">{{ novel.Category }}</p>
                    <p class="State-icon">{{ novel.State }}</p>
                    <div class="readmore_addlove">
                        <a href="{{ novel.Link }}" class="readmore">閱讀</a>
                        {% if username %}
                            {% if is_loved %}
                            <a href="{{ url_for('addlove', nIndex=novel.nIndex) }}" class="addlove">❤️收藏</a>
                            {% else %} 
                            <a href="{{ url_for('addlove', nIndex=novel.nIndex) }}" class="addlove">🤍收藏</a>
                            {% endif %}
                        {% else %}      
                        <a href="{{ url_for('login') }}" class="addlove">🤍收藏</a>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>

        <br />

        <div class="Introduction">
                <div class="subtitle">
                    <h3 class="category-icon"> ▎</h3> 
                    <h3>簡介</h3>
                </div>
                <div class="Introduction-icon" style="white-space: pre-wrap;">{{ novel.Introduction | e }}</div>
        </div>

        <hr />

        <div class="Introduction">
                <div class="subtitle">
                    <h3 class="category-icon"> ▎</h3> 
                    <h3>Tag</h3>
                </div>
                <div class="Introduction-icon">
                    {% for tag in tags %}
                        <span class="tags-icon">#{{ tag.Tag }}</span>
                    {% endfor %}
                </div>
        </div>



    </div>
    

    

</body>
</html>