<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="{{ url_for('static', filename='novel.css') }}">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>novel</title>
</head>
<body>
    <div class="onenovel">

        <div class="book">
            <div class="book-cover {{ novel.Category }}">
                {{ novel.Title }}
            </div>
        
            <div class="book-info">
                <h2 class="noveltitle">{{ novel.Title }}</h2>
                <a href="{{ url_for('author') }}" class="AuthorName-icon">{{ novel.AuthorName }}</a>
                <a class="vertical-icon"> | </a>
                <a href="#" class="Publish-icon">{{ novel.PublishName }} </a>
                
                <div class="information">
                    <p class="Category-icon">{{ novel.Category }}</p>
                    <p class="State-icon">{{ novel.State }}</p>
                    <div class="readmore_addlove">
                        <a href="{{ novel.Link }}" class="readmore">閱讀</a>
                        <a href="#" class="addlove">收藏</a>
                    </div>
                </div>
            </div>
        </div>

        <br />

        <div class="Introduction">
                <div class="subtitle">
                    <h3 class="category-icon"> ▎</h3> 
                    <h3>簡介</h3>
                </div>
                <p class="Introduction-icon">{{ novel.Introduction }}</p>
        </div>

        <hr />

        <div class="Introduction">
                <div class="subtitle">
                    <h3 class="category-icon"> ▎</h3> 
                    <h3>Tag</h3>
                </div>
                <p class="Introduction-icon">{{ novel.Introduction }}</p>
        </div>



    </div>
    

    

</body>
</html>