<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="{{ url_for('static', filename='login.css') }}">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>login</title>
</head>
<body>
    <div class="title">
        <h1>註冊</h1>
    </div>
    <div class="input">
        <form method="POST" action="/register">

            <label>帳號：</label>
            <input type="text" name="username">

            <label>密碼：</label>
            <input type="password" name="password">

            <label>確認密碼：</label>
            <input type="confirm_password" name="confirm_password">

            <br>
            <button type="submit">註冊</button>

            {% if message %}
                <p>{{ message }}</p>
            {% endif %}

        </form>
    </div>
    
    <div class="move">
        <br>
        <p>已有帳號，<a href="/login">點我登入</a></p>
    </div>

</body>
</html>